.blog-form-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 25px;

	.column {
		display: flex;
		justify-content: center;
	}

	input {
		margin-bottom: 40px;
		border: none;
		border-bottom: 2px solid #1f2833;
		outline: none;
		font-size: 25px;
		transition: 0.5s ease-in-out;

		&:hover {
			border-bottom: 3px solid #66fcf1;
		}
	}

	.save-btn {
		display: flex;
		justify-content: center;
		padding-top: 25px;

		.btn {
			font-size: 20px;
			border-radius: 5px;
			padding: 5px;
			background-color: #45a29e;
			transition: 0.5s ease-in-out;
			width: 10%;

			&:hover {
				background-color: #66fcf1;
				border: 2px solid black;
				font-size: 22px;
				box-shadow: rgba(0, 0, 0, 0.56) 0px 5px 10px 4px;
			}
		}
	}
}
