.nav-wrapper {
	display: flex;
	justify-content: right;
	padding: 20px;
	background-color: white;
	color: #1f2833;

	.nav-user-name {
		padding-right: 25px;
	}

	a {
		cursor: pointer;
		transition: 0.5s ease-in-out;

		&:hover {
			color: red;
		}
	}
}
