.DraftEditor-root {
	border: 1px solid #1f2833;
	padding: 20px;
	border-radius: 5px;
}

.rdw-image-modal {
	left: -180px;
}

.rdw-emoji-modal {
	left: -135px;
}

.rdw-embedded-wrapper {
	left: -95px;
}
